---
layout: default
title: Novels and Novellas
---

{% assign loopindex = 0 %}

{% assign sorted-posts = site.books | reverse %}
{% for story in sorted-posts %}

    {% assign loopindex = loopindex | plus: 1 %}
    {% assign rowfinder = loopindex | modulo: 2 %}

    <hr />

    {% if story.cover %}
        {% if rowfinder == 1 %}
            {% include img-float-right.html 
                img=story.cover 
                alt=story.title 
                link=story.cover
            %}
        {% else %}
            {% include img-float-left.html 
                img=story.cover 
                alt=story.title 
                link=story.cover
            %}
        {% endif %}
    {% endif %}

    <h3 class="text-center">{{story.title}}</h3>

    {{ story.content | markdownify }}
    <div class="clearfix"></div>
    
{% endfor %}



