<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/biography.html">About</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/categories/flashfiction.html">Flash Fiction</a></li>
            <li><a href="/categories/princessquestions.html">Princess Questions</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Writing <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/editing.html">Editorial Services</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/short-stories.html">Short Stories</a></li>
                    <li><a href="/fiction.html">For Grown-Ups</a></li>
                    <li role="separator" class="divider"></li>
                        <li><a href="/recommendations.html">Recommendations</a></li>
                        <li><a href="/reviews.html">Reviews</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/free_story.html">Free Story</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>  